{% extends 'base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block content %}



<h2>About us :</h2>

<br/>

<div class="card border-secondary mb-3 ">

    <div class="card-header"> Suyog
    </div>
    <div class="card-body text-secondary">
        <img class="rounded-circle account-img float-left" src="{% static 'img/suyog1.jpg' %}" style="max-width:100px;max-height:110px;" />
        <!-- <p class="card-text float-center"> Half german , mechanical enggineer. You would be suprised how rould my face is! </p> -->

    </div>
            <div class="card-footer text-mutxed">
                <h5 class="card-title">Delivery , Management and all things in between!</h5>
            </div>


</div>

<br/>

<div class="card border-secondary mb-3 ">

    <div class="card-header"> Mayur
    </div>
    <div class="card-body text-secondary">
        <img class="rounded-circle account-img float-left" src="{% static 'img/mayur.jpg' %}" style="max-width:100px;max-height:110px;" />

    </div>

    <div class="card-footer text-mutxed">
        <h5 class="card-title">I do what both of them wont do!</h5>
    </div>
</div>

<br/>

<div class="card border-secondary mb-3 ">

    <div class="card-header"> Pratik
    </div>
    <div class="card-body text-secondary">
        <img class="rounded-circle account-img" src="{% static 'img/pratik1.jpg' %}" style="max-width:100px;max-height:110px;" />

    </div>
        <div class="card-footer text-mutxed">
        <h5 class="card-title">Everything that has to do with tech and the geeky stuff! </h5>
    </div>

</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Contact Us:</h2>
            <h4>8369818613</h4>
            <h4>9819367959</h4>
        </div>
    </div>
</div>

{% endblock %}