<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block stylesheet %}{% endblock %}
    <title>FFG</title>
  </head>
  <body>

    <header class="site-header">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #660066;">
  <a class="navbar-brand" href="#">FFG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li><a class="btn btn-outline-success ml-2 my-2 my-sm-0" href="{% url 'logout'%}">Logout</a></li>
        {% else %}
      <li><a href="{% url 'login' %}" class="btn btn-outline-success">Login</a></li>
      <li><a href="{% url 'coreapp:signup' %}" class="btn btn-primary ml-2">Sign up</a></li>

      {% endif %}
    </ul>
  </div>
</nav>

      
  </header>

  <br/>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">

          {% block content %}
          {% endblock %}
        </div>

        {% if user.is_authenticated %}

                <div class="col-md-4">
                  <div class="content-section">
                    {% block search %}
                    {% endblock %}
                    <br/>
                    <h3>Django Books</h3>
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{% url 'coreapp:list_entries' %}" style="color:black"> Home</a></li>                       
                        <li class="list-group-item list-group-item-light"><a href="{% url 'coreapp:new_entry' %}" style="color:black"> Add Book</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'coreapp:profile' %}" style="color:black">Profile</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'coreapp:userbooks' %}" style="color:black">My Books</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'wishlist:wish_list' %}" style="color:black">WishList</a></li>
                        
                      </ul>
                    </p>
                  </div>
                </div>

                {% endif %}
                
      </div>
    </div>
<footer class="site-footer mr-3 mb-2" style="position:fixed;right:0;bottom:0;font-family: 'Courier';font-style: bold;">
  Made with <span style="color: #e25555;">&hearts;</span> in Dombivli!
</footer>  </body>
</html>