{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    {% block stylesheet %}{% endblock %}
    <title>Cadabra</title>
  </head>
  <body>

    <header class="site-header">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #441370;">
  <a class="navbar-brand" href="{% url 'coreapp:list_entries' %}">
      <!-- <img src="{% static 'img/cadabra.png' %}" alt="Logo" style="width:120px;height:50px" > -->
    Cadabra
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Wishlist</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      <li><a class="btn btn-outline-success ml-2 my-2 my-sm-0" href="{% url 'logout'%}">Logout</a></li>
        {% else %}
      <li><a href="{% url 'login' %}" class="btn btn-outline-success">Login</a></li>
      <li><a href="{% url 'coreapp:signup' %}" class="btn btn-primary ml-2">Sign up</a></li>

      {% endif %}
    </ul>
  </div>
</nav>

      
  </header>


  <br/>
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-8">
          {% block content %}
          {% endblock %}
        </div>

        {% if user.is_authenticated %}

                <div class="col-md-4">
                  <div class="content-section">
                    {% block search %}
                    {% endblock %}
                    <br/>
                    <h3>Cadabra Books</h3>
                      <ul class="list-group">
                        <a class="list-group-item list-group-item-action" href="{% url 'coreapp:list_entries' %}" > Home </a>                      
                        <a class="list-group-item list-group-item-action" href="{% url 'coreapp:new_entry' %}" > Add Book</a>
                        <a class="list-group-item list-group-item-action" href="{% url 'coreapp:profile' %}" >Profile</a>
                        <a class="list-group-item list-group-item-action" href="{% url 'coreapp:userbooks' %}" >My Books</a>
                        <a class="list-group-item list-group-item-action" href="{% url 'cart:cart_items' %}" >Cart<span class="badge badge-primary badge-pill float-right mt-1">{{ cartitemscount }}</span> </a>
                        <a class="list-group-item list-group-item-action" href="{% url 'transaction:requests_view' %}" >Requests<span class="badge badge-primary badge-pill float-right mt-1">{{ requestscount }}</span></a>
                        <a class="list-group-item list-group-item-action" href="{% url 'transaction:orders_view' %}" >Orders <span class="badge badge-primary badge-pill float-right mt-1">{{ orderscount }}</span></a>
                        <a class="list-group-item list-group-item-action" href="{% url 'transaction:offers_view' %}" >Offers <span class="badge badge-primary badge-pill float-right mt-1">{{ offercount }}</span></a>
                      </ul>
                      <br/>
                      {% if addresscheck == "" %}
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Update Address</h5>
                      <p class="card-text">
                        You need to add address and phone number in profile settings, it is a one time process</p>
                      <a class="btn btn-success" style="color: white" href="{% url 'coreapp:address_edit' %}">Update</a>
                      


                      </div>
                      </div>

                      {% endif %}
                    </p>
                  </div>
                </div>

                {% endif %}
                
      </div>
    </div>

<footer class="site-footer mr-3 mb-2" style="position:fixed;right:0;bottom:0;font-family: 'Courier';font-style: bold;">
  Made with <span style="color: #e25555;">&hearts;</span> !
</footer>  

</body>
</html>