{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if orders %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<h2>WISHLIST ITEMS :</h2>
<br/>
{% for book in orders %}

<div class="card text-left">
    <div class="card-header">
                <p class="card-text">Seller Name : {{ book.user }}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ book.book_name }}</h5>
        {% if book.author_name %}
        <p class="card-text">Author name: {{ book.author_name }}</p>
        {% endif %}
        {% if book.description %}
        <p class="card-text">Description: {{ book.description }}</p>
        {% endif %}
        <p class="card-text">Price: {{ book.price }}</p>

    </div>
    <div class="card-footer text-mutxed">
        <a href="{% url 'cart:delete_item' book.id %}" class="mr-2 btn btn-info float-right">Delete Item</a>

    </div>
</div>
</br>
{% endfor %}

<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Address</h5>
                {% if address.address1 != "" %}
                {{ address }}
                <hr />
                <p>Phone number: {{ address.phone_number }}</p>

                {% else %}
                <p class="card-text">
                    Address and phone Number, you need to add address in profile settings, it is a one time process</p>
                <a class="btn btn-success" style="color: white" data-toggle="modal" data-target="#updateaddress">Update</a>

                <div class="modal fade" id="updateaddress" role="dialog">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Address </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form method="post" novalidate>
                                    {% csrf_token %}
                                    {{ address_form | crispy }}
                                    <button type="submit" class="btn btn-primary btn-block" name="updateadd">Save
                                        Changes</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Payment</h5>
                 <p>Price : {{ total_price }}</p>
                <p class="card-text">You need to pay additional 20 rupees at the time of pickup or delivery.</p>
                <p class="card-text"> Total Price : {{ total_price | add:20 }} </p>
            </div>
        </div>
    </div>
</div>
<br/>

{% if address.address1 == "" %}
<button class="mr-2 mb-2 btn btn-success float-right disabled" style="color: cornsilk" data-toggle="modal" data-target="#confirmselection">Make
    Transaction!</button>
{% else %}

<button class="mr-2 mb-2 btn btn-success float-right" style="color: cornsilk" data-toggle="modal" data-target="#confirmselection">Make
    Transaction!</button>

<div class="modal fade" id="confirmselection" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Selection</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to make the Purchase?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-info" name="Yes" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% else %}

<div class="text-center">
    <h1>WishList Empty ! Add Books to Wishlist ! </h1>
</div>


{% endif %}

{% endblock %}