{% extends 'base.html' %}

{% block content %}

<h2>User Collection:</h2>
<br />

{% if books %}

{% for book in books %}

    <div class="card text-left">
        <div class="card-header">
            Seller: <a href="{% url 'coreapp:userbooksforuser' book.user %}" style="color:black">{{ book.user.username }}</a>
        </div>
        <div class="card-body">
    
    
            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="card-title">{{ book.book_name }}</h5>
                    {% if book.author_name %}
                    <p class="card-text">Author Name: {{ book.author_name }}</p>
                    {% endif %}
                    {% if book.description %}
                    <p class="card-text">{{ book.description }}</p>
                    {% endif %}
                    <p class="card-text">Condition : {{ book.condition }} </p>
                </div>
            <div class="mr-3 ml-1">
                {% if book.image_url %}
                <img src="{{ book.image_url }}">
                {% endif %}
            
            </div>
            </div>
    
    
        </div>
        <div class="card-footer text-mutxed">
            {{ book.created_at }}
            {% if book.sell_or_exchange == 'Sell' %}
    
            <a href="{% url 'cart:add_to_cart' book.id %}" class="btn btn-primary float-right">BUY FOR {{ book.price }}</a>
    
            {% else %}
            <a href="{% url 'transaction:add_request' book.id %}" class="btn btn-primary mr-2 float-right">MAKE A REQUEST</a>
    
            <!-- <button type="button" class="mr-2 btn btn-info float-right" data-toggle="modal" data-target="#requestmodal">Request for Exchange</a> -->
    
            <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button> -->
    
            <div class="modal fade" id="requestmodal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>This is a small modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-default" href="#">Are you sure you want to request {{
                                book.book_name }} ?</button>
    
                        </div>
                    </div>
                </div>
            </div>
    
            {% endif %}
    
    
        </div>
    </div>
    </br>


{% endfor %}

{% else %}

<div class="text-center">
    <h1>No Books Found ! </h1>
</div>


{% endif %}

{% endblock %}