{% extends 'base.html' %}

{% block title %} Buy Orders {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% if final_buy_order %}

{% for order in final_buy_order %}

<div class="card text-left">
    <div class="card-header">
        Seller: {{ order.seller.user_name }}</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ order.book.book_name }}</h5>
        <p class="card-text">{{ order.book.description }}</p>
        <p class="card-text">Condition : {{ order.book.condition }} </p>
    </div>
    <div class="card-footer text-mutxed">
        <a href="{% url 'wishlist:finalorder-delete' order.id %}" class="mr-2 btn btn-danger float-right">Cancel Order</a>

    </div>
</div>
</br>
{% endfor %}

{% else %}

<h2 align="center">No Buy Order Found! Make a Order !</h2>

{% endif %}


{% endblock %}