{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}">

{% endblock %}

{% block search %}

<div class="container">
  <div class="col-md-17">
<form class="navbar-form" method="GET" action="{% url 'search' %}">
  <div class="input-group add-on">
    <input class="form-control" placeholder="Search book or author" name="search" id="srch-term" type="text">
    <div class="ml-1 input-group-btn">
      <button class="btn btn-info" type="submit" >Submit</button>
    </div>
  </div>
</form>
</div>
</div>

{% endblock %}

{% block content %}
<!-- {{ books | length }} -->

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
{% endif %}

<br/>

{% if books %}

    {% for book in books %}
    
    <div class="card text-left">
      <div class="card-header">
        Seller: <a href="{% url 'userbooksforuser' book.user %}" style="color:black">{{ book.user.username }}</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ book.book_name }}</h5>
        <p class="card-text">{{ book.description }}</p>
        <p class="card-text">Condition : {{ book.condition }} </p>
      </div>
      <div class="card-footer text-mutxed">
        {{ book.created_at }} <a href="{% url 'add_to_list' book.id %}" class="btn btn-primary float-right">ADD FOR EXCHANGE</a>
        <a href="#" class="mr-2 btn btn-info float-right">BUY FOR {{ book.price }}</a>
      </div>
    </div>
  </br>
  {% endfor %}

  {% else %}

  <h2 align="center">No Relevant Books Found !</h2>

  {% endif %}



{% endblock %}