{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}New Entry{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
{% endif %}


            <h3 class="card-title">New Entry</h3>
            <form method="post" novalidate>
              {% csrf_token %}

              {{ form.non_field_errors }}
              <div class="fieldWrapper">
                {{ form.book_name | as_crispy_field }}
              </div>
              <button type="submit" class="btn btn-primary btn-block" name="check">Check</button>
              <hr/>
              {% if items %}

              {% for obj in items|slice:":5" %}

              <button type="button" id="book_{{ forloop.counter }}" class="btn btn-warning">{{ obj.volumeInfo.title }} . Authors: {{ obj.volumeInfo.authors | safe }}</button>
              {{ obj.volumeInfo.imageLinks.thumbnail }}

              <hr/>
              
              <script type="text/javascript">
                $("#book_{{ forloop.counter }}").click(function () {
                  $("#id_author_name").val("{{ obj.volumeInfo.authors | escapejs }}");
                  $("#id_description").val("{{ obj.volumeInfo.description | escapejs }}");
                  $("#id_book_name").val("{{ obj.volumeInfo.title | escapejs }}");
                  // $("#imageid").attr("src", "{{ volumeInfo.imageLinks.thumbnail | escapejs }}");
                });


              </script>

              {% endfor %}

              {% endif %}

              <img id="imageid"/>
              
              <div class="fieldWrapper">
                {{ form.author_name | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.description | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.image | as_crispy_field }}
              </div>
              
              <div class="fieldWrapper">
                {{ form.sell_or_exchange | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.price | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.condition | as_crispy_field }}
              </div>

              <script type="text/javascript">

                document.getElementById("priceid").disabled = true;

                var sell_or_exchange = $("#id_sell_or_exchange");

                  function refreshOptions() {
                    if (sell_or_exchange.val() === "Sell") {
                      document.getElementById("priceid").disabled = false;
                    }else{
                      if (sell_or_exchange.val() === "Exchange") {
                        document.getElementById("priceid").value = '';
                        document.getElementById("priceid").disabled = true;
                      }
                    }
                  }
                  refreshOptions();

                  sell_or_exchange.on("change", refreshOptions);


              </script>

              <button type="submit" class="btn btn-primary btn-block" name="submitentry">SUBMIT</button>
            </form>


{% endblock %}