{% extends 'base.html' %}
{% load user_books_tag %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}New Entry{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
{% endif %}

{% if addresscheck == "" %}

<div class="alert alert-warning">
  <strong>Warning!</strong> You need to update address in profile to add a book !
</div>

{% endif %}



            <h3 class="card-title">New Entry</h3>
            <form method="post" novalidate>
              {% csrf_token %}


              <div class="fieldWrapper">
                {{ form.book_name | as_crispy_field }}
              </div>

              <button type="submit" class="btn btn-primary btn-block" name="check">Check for book details after entering book name</button>
              <hr/>
              {% if items %}

              {% for obj in items|slice:":5" %}

              <button type="button" id="book_{{ forloop.counter }}" class="btn btn-outline-success">{{ obj.volumeInfo.title }} .
                {% if obj.volumeInfo.authors %}
                 Authors: {{ obj.volumeInfo.authors | author_list }}
                {% endif %}
              </button>              
              <hr />

              <script type="text/javascript">
                $("#book_{{ forloop.counter }}").click(function () {

                  $("#id_author_name").val("{{ obj.volumeInfo.authors | author_list | escapejs }}");
                  $("#id_description").val("{{ obj.volumeInfo.description | escapejs }}");
                  $("#id_book_name").val("{{ obj.volumeInfo.title | escapejs }}");
                  $("#id_image_url").val("{{ obj.volumeInfo.imageLinks.thumbnail | escapejs }}");
                });


              </script>

              {% endfor %}

              {% endif %}
              
              <div class="fieldWrapper">
                
                {{ form.author_name | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.description | as_crispy_field }}
              </div>

              
              <div class="fieldWrapper">
                {{ form.sell_or_exchange | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.price | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.image_url | as_crispy_field }}
              </div>

              <div class="fieldWrapper">
                {{ form.condition | as_crispy_field }}
              </div>

              <script type="text/javascript">

                document.getElementById("priceid").disabled = true;
                document.getElementById("id_image_url").readOnly = true;

                var sell_or_exchange = $("#id_sell_or_exchange");

                  function refreshOptions() {
                    if (sell_or_exchange.val() === "Sell") {
                      document.getElementById("priceid").disabled = false;
                    }else{
                      if (sell_or_exchange.val() === "Exchange") {
                        document.getElementById("priceid").value = '';
                        document.getElementById("priceid").disabled = true;
                      }
                    }
                  }
                  refreshOptions();

                  sell_or_exchange.on("change", refreshOptions);


              </script>

              <button type="submit" class="btn btn-primary btn-block" name="submitentry">SUBMIT</button>
            </form>


{% endblock %}