{% extends 'base.html' %}

{% block title %} Orders {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<h2>My Orders :</h2>
<br />
<div class="btn-group container-fluid">
    <a href="{% url 'transaction:orders_view' %}" class="btn btn-success">Active Orders</a>
    <a href="{% url 'transaction:exchange-order' %}" class="btn btn-success">Completed Exchange Orders</a>
    <a href="{% url 'transaction:buy-order' %}" class="btn btn-success">Completed Buy Orders</a>
</div>

<br />
<br/>
<br />

{% if orders or buy_order %}

{% if orders %}

<h2 align="left">Exchange Orders:</h2>
<br/>

{% for order in orders %}

<div class="card text-left">
    <div class="card-header">
        <p class="card-text">Request User: {{ order.requester }}</p>
        <hr/>
                <h5 class="card-title">{{ order.offerrer_book.book_name }}</h5>
                {% if book.author_name %}
                <p class="card-text">Author name: {{ order.offerrer_book.author_name }}</p>
                {% endif %}
                {% if book.description %}
                <p class="card-text">Description: {{ order.offerrer_book.description }}</p>
                {% endif %}
                <p class="card-text">Condition : {{ order.offerrer_book.condition }} </p>


    </div>
    <div class="card-body">
        <p class="card-text">Offerer User: {{ order.offerrer }}</p>
        <hr/>
                <h5 class="card-title">{{ order.requester_book.book_name }}</h5>
                {% if book.author_name %}
                <p class="card-text">Author name: {{ order.requester_book.author_name }}</p>
                {% endif %}
                {% if book.description %}
                <p class="card-text">Description: {{ order.requester_book.description }}</p>
                {% endif %}
                <p class="card-text">Condition : {{ order.requester_book.condition }} </p>

    </div>
    <div class="card-footer text-mutxed">

        <a href="{% url 'transaction:order-delete' order.id %}" class="mr-2 btn btn-danger float-right">Cancel Order</a>
    </div>
</div>
</br>
{% endfor %}

{% endif %}

{% if buy_order %}

<h2 align="left">Buy Orders:</h2>
<br/>


{% for order in buy_order %}

<div class="card text-left">
    <div class="card-header">
        Seller: {{ order.seller }}</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ order.book.book_name }}</h5>
        {% if book.author_name %}
        <p class="card-text">Author name: {{ order.book.author_name }}</p>
        {% endif %}
        {% if book.description %}
        <p class="card-text">Description: {{ order.book.description }}</p>
        {% endif %}
        <p class="card-text">Condition : {{ order.book.condition }} </p>
    </div>
    <div class="card-footer text-mutxed">
        Price : {{ order.total_price }}
        <a href="{% url 'cart:finalorder-delete' order.id %}" class="mr-2 btn btn-danger float-right">Cancel Order</a>

    </div>
</div>
</br>
{% endfor %}


{% endif %}

{% else %}
<h2 align="center">No Order Found! Make a request !</h2>

{% endif %}

{% endblock %}