{% extends 'base.html' %}
{% load user_books_tag %}
{% block title %} Offers {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% if offers %}

{% for offer in offers %}

<div class="card text-left">
    <div class="card-header">
        Seller: <a style="color:black">{{ offer.requester }}</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ offer.requester_book.book_name }}</h5>
        <p class="card-text">{{ offer.requester_book.description }}</p>
        <p class="card-text">Condition : {{ offer.requester_book.condition }} </p>
    </div>
    <div class="card-footer text-mutxed">
        <a href="{% url 'transaction:offer-delete' offer.id %}" class="mr-2 btn btn-info float-right">Decline Transaction</a>
        
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#offermodal{{ offer.id }}" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                User collection 
            </a>

        </p>
        Select a book from the below collection :
        <hr/>
        <div class="collapse" id="offermodal{{ offer.id }}">
            <div class="card card-body">
                {% for book in collection_all|user_books_for_user:offer.requester %}
                <div class="card text-left">
                    <div class="card-header">
                        Seller: {{ book.user }}
                        <a class="mr-2 btn btn-danger float-right" href="{% url 'transaction:final-transaction' offer_id=offer.id book_id=book.id %}">Make Transaction</a>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.book_name }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                        <p class="card-text">Condition : {{ book.price }} </p>
                    </div>
                </div>
                <br/>
                                
                {% endfor %}
                
            </div>
        </div>

    
    </div>
</div>

</br>


 

{% endfor %}

{% else %}

<h2 align="center">No Offers Found! Make a request !</h2>

{% endif %}

{% endblock %}