{% extends 'base.html' %}

{% block title %} Orders {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="btn-group container-fluid">
    <a href="{% url 'transaction:orders_view' %}" class="btn btn-success">Active Orders</a>
    <a href="{% url 'transaction:exchange-order' %}" class="btn btn-success">Completed Exchange Orders</a>
    <a href="{% url 'transaction:buy-order' %}" class="btn btn-success">Completed Buy Orders</a>
</div>

<br />
<br/>

{% if orders or buy_order %}

{% if orders %}

<h2 align="left">Exchange Orders:</h2>
<br/>

{% for order in orders %}

<div class="card text-left">
    <div class="card-header">
        <p class="card-text">Request User: {{ order.requester }}</p>
        <hr/>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{ order.offerrer_book.book_name }}</h5>
                        {% if order.offerrer_book.author_name %}
                        <p class="card-text">Author name: {{ order.offerrer_book.author_name }}</p>
                        {% endif %}
                        <p class="card-text">Condition : {{ order.offerrer_book.condition }} </p>
                    </div>
                    <div class="mr-3">
                        {% if order.offerrer_book.image_url %}
                        <img src="{{ order.offerrer_book.image_url }}">
                        {% endif %}
                
                    </div>
                </div>


    </div>
    <div class="card-body">
        <p class="card-text">Offerer User: {{ order.offerrer }}</p>
        <hr/>
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{ order.requester_book.book_name }}</h5>
                        {% if order.requester_book.author_name %}
                        <p class="card-text">Author name: {{ order.requester_book.author_name }}</p>
                        {% endif %}
                        <p class="card-text">Condition : {{ order.requester_book.condition }} </p>
                    </div>
                    <div class="mr-3">
                        {% if order.requester_book.image_url %}
                        <img src="{{ order.requester_book.image_url }}">
                        {% endif %}
                
                    </div>
                </div>


    </div>
    <div class="card-footer text-mutxed">

        <a href="{% url 'transaction:order-delete' order.id %}" class="mr-2 btn btn-danger float-right">Cancel Order</a>
    </div>
</div>
</br>
{% endfor %}

{% endif %}

{% if buy_order %}

<h2 align="left">Buy Orders:</h2>
<br/>


{% for order in buy_order %}

<div class="card text-left">
    <div class="card-header">
        Seller: {{ order.seller }}</a>
    </div>
    <div class="card-body">

        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title">{{ order.book.book_name }}</h5>
                {% if order.book.author_name %}
                <p class="card-text">Author name: {{ order.book.author_name }}</p>
                {% endif %}
                <p class="card-text">Condition : {{ order.book.condition }} </p>
            </div>
            <div class="mr-3">
                {% if order.book.image_url %}
                <img src="{{ order.book.image_url }}">
                {% endif %}
        
            </div>
        </div>



    </div>
    <div class="card-footer text-mutxed">
        Price : {{ order.total_price }}
        <a href="{% url 'cart:finalorder-delete' order.id %}" class="mr-2 btn btn-danger float-right">Cancel Order</a>

    </div>
</div>
</br>
{% endfor %}


{% endif %}

{% else %}
<h2 align="center">No Order Found! Make a request !</h2>

{% endif %}

{% endblock %}