{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}


<div class="card">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
</div>

<br/>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Deliver to address</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">D/404, RSC ,Kopar road, Dombivli West </p>
    </div>
</div>
<br/>

<a class="btn btn-success ml-2"> Make Transaction </a>

<br/>
<br/>


{% endblock %}