{% extends 'base.html' %}

{% block title %} Offers {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% if offers %}

{% for offer in offers %}

<div class="card text-left">
    <div class="card-header">
        Seller: <a style="color:black">{{ offer.requester }}</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ offer.requester_book.book_name }}</h5>
        <p class="card-text">{{ offer.requester_book.description }}</p>
        <p class="card-text">Condition : {{ offer.requester_book.condition }} </p>
    </div>
    <div class="card-footer text-mutxed">

        <a href="#" class="mr-2 btn btn-info float-right">Make Transaction</a>
    </div>
</div>
</br>
{% endfor %}

{% else %}

<h2 align="center">No Offers Found! Make a request !</h2>

{% endif %}

{% endblock %}