{% extends 'base.html' %}

{% block title %} Orders {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="btn-group container-fluid">
    <a href="{% url 'transaction:orders_view' %}" class="btn btn-success">Active Orders</a>
    <a href="{% url 'transaction:exchange-order' %}" class="btn btn-success">Completed Exchange Orders</a>
    <a href="{% url 'transaction:buy-order' %}" class="btn btn-success">Completed Buy Orders</a>
</div>

<br />
<br />

{% if orders %}

{% for order in orders %}

<div class="card text-left">
    <div class="card-header">
        <p class="card-text">Request User: {{ order.requester }}</p>
        <hr />

        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title">{{ order.offerrer_book_name }}</h5>
                {% if order.author_name %}
                <p class="card-text">Author name: {{ order.offerrer_author_name }}</p>
                {% endif %}
            </div>

        </div>

    </div>
    <div class="card-body">
        <p class="card-text">Offerer User: {{ order.offerrer }}</p>
        <hr />


        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title">{{ order.requester_book_name }}</h5>
                {% if book.requester_author_name %}
                <p class="card-text">Author name: {{ book.requester_author_name }}</p>
                {% endif %}
            </div>
        </div>

    </div>

</div>
</br>
{% endfor %}

{% else %}
<h2 align="center">No Completed Exchange Orders Found! </h2>

{% endif %}

{% endblock %}