{% extends 'base.html' %}

{% block content %}

<h2>My Collection:</h2>
<br />
<div class="btn-group container-fluid">
    <a href="{% url 'coreapp:userbooks' %}" class="btn btn-success">Active Items</a>
    <a href="{% url 'coreapp:sold-books' %}" class="btn btn-success">Sold Items</a>
</div>

<br />
<br />

{% if books %}

{% for order in books %}

<div class="card text-left">
    <div class="card-header">
        Sold to : {{ order.user.username }}

    </div>
    <div class="card-body">

        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title"> {{ order.book_name }}</h5>
                {% if order.author_name %}
                <p class="card-text">Author name: {{ order.author_name }}</p>
                {% endif %}
            </div>

        </div>
        
    </div>
        <div class="card-footer text-mutxed">
            For Price : {{ order.total_price }}
        </div>
</div>
</br>

{% endfor %}

{% else %}

<br />

<div class="text-center">
    <h1>No sold books ! </h1>
</div>

<br />


{% endif %}

{% endblock %}