{% extends 'base.html' %}

{% block content %}

<h2>My Collection:</h2>
<br />
<div class="btn-group container-fluid">
    <a href="{% url 'coreapp:userbooks' %}" class="btn btn-success">Active Items</a>
    <a href="{% url 'coreapp:sold-books' %}" class="btn btn-success">Sold Items</a>
</div>

<br />
<br />

{% if books %}

{% for order in books %}

<div class="card text-left">
    <div class="card-header">
        {{ order.user.username }}

    </div>
    <div class="card-body">
        <h5 class="card-title">{{ order.book.book_name }}</h5>
        <p class="card-text">{{ order.book..description }}</p>
        <p class="card-text">Condition : {{ order.book.condition }} </p>
        {% if book.price %}
        <p class="card-text">Price : {{ order.book..price }} </p>
        {% endif %}
    </div>
    <div class="card-footer text-mutxed">
        {{ order.book.created_at }}
    </div>
</div>
</br>

{% endfor %}

{% else %}

<br />

<div class="text-center">
    <h1>No sold books ! </h1>
</div>

<br />


{% endif %}

{% endblock %}