{% extends 'base.html' %}

{% block content %}

<h2 >My Collection:</h2>
<br/>
<div class="btn-group container-fluid">
    <a href="{% url 'coreapp:userbooks' %}" class="btn btn-success">Active Items</a>
    <a href="{% url 'coreapp:sold-books' %}" class="btn btn-success">Sold Items</a>
</div>

<br/>
<br/>

{% if books %}

{% for book in books %}

<div class="card text-left">
    <div class="card-header">
        Username: {{ book.user.username }} 
        <a href="{% url 'coreapp:post-delete' book.id %}" class="btn btn-danger float-right">Delete</a>
        <a href="{% url 'coreapp:post-update' book.id %}" class="mr-2 btn btn-info float-right" >Edit</a>
    </div>
    <div class="card-body">

        <div class="d-flex justify-content-between">
                <div>
        <h5 class="card-title">{{ book.book_name }}</h5>
        {% if book.author_name %}
        <p class="card-text">Author name: {{ book.author_name }}</p>
        {% endif %}  
        <p class="card-text">Condition : {{ book.condition }} </p>
        {% if book.price %}
        <p class="card-text">Price : {{ book.price }} </p>
        {% endif %}
        </div>
        <div class="mr-3">
            {% if book.image_url %}
            <img src="{{ book.image_url }}">
            {% endif %}
        
        </div>
        </div>
        </div>
    <div class="card-footer text-mutxed">
        {{ book.created_at }} 
    </div>
</div>
</br>

{% endfor %}

{% else %}

<br/>

<div class="text-center"><h1>No Books Found ! Add Books ! </h1></div>

<br/>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-success btn-lg center" href="{% url 'coreapp:new_entry' %}"> Add Books</a>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}