{% extends 'base.html' %}

{% block content %}

{% if orders %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<h2>WISHLIST:</h2>
<br/>
{{ orders }}
{% for book in orders %}

<div class="card text-left">
    <div class="card-header">
        <!-- {{ order.user.username }} -->
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ book.book_name }}</h5>
        <p class="card-text" >{{ book.description }}</p>

        <!-- <p class="card-text">Condition : {{ book.condition }} </p>
        <p class="card-text">Price : {{ book.price }} </p> -->
    </div>
    <div class="card-footer text-mutxed">
    </div>
</div>
</br>

{% endfor %}

{% else %}

<div class="text-center">
    <h1>WishList Empty ! Add Books to Wishlist ! </h1>
</div>


{% endif %}

{% endblock %}